.app header {
  background-color: #000;
  color: #fff; }
  .app header h1 {
    color: orange;
    font-family: fantasy;
    font-size: 4em;
    text-shadow: 2px 2px 1px #fff; }

.app .app-content {
  background-color: #fbfbfb; }
  .app .app-content .add-notes form {
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 5px 0px #000;
    margin-top: 10px; }
    .app .app-content .add-notes form h3 {
      text-align: center;
      font-weight: 600;
      color: #ffa500;
      text-shadow: 0 1px 1px #000; }
    .app .app-content .add-notes form button {
      margin-right: 10px;
      cursor: pointer; }
      .app .app-content .add-notes form button:disabled {
        cursor: not-allowed; }
    .app .app-content .add-notes form input.invalid, .app .app-content .add-notes form textarea.invalid {
      border: 1px solid red;
      background-color: #fbdede; }

.app .display-notes .note-template {
  margin: 10px; }
  .app .display-notes .note-template button {
    margin-right: 10px;
    margin-bottom: 10px; }
  .app .display-notes .note-template .comments-info {
    border-top: 1px solid #ccc; }
    .app .display-notes .note-template .comments-info .hide-comments {
      text-align: right;
      padding: 0; }
    .app .display-notes .note-template .comments-info button {
      margin: 0;
      padding: 0; }
  .app .display-notes .note-template .comments-display {
    background-color: #e2e2e2;
    width: 20rem;
    margin-top: -10px; }
    .app .display-notes .note-template .comments-display ul {
      padding-top: 15px;
      padding-left: 0; }
      .app .display-notes .note-template .comments-display ul li {
        list-style: none;
        display: block;
        background-color: #fff;
        margin: 5px;
        border-radius: 4px;
        padding: 5px;
        line-height: 1em;
        font-size: 0.8em; }
        .app .display-notes .note-template .comments-display ul li .comment-templaate h6 {
          font-weight: 600;
          font-size: 1em; }
        .app .display-notes .note-template .comments-display ul li .comment-templaate p {
          text-align: justify;
          margin-bottom: 5px; }
          .app .display-notes .note-template .comments-display ul li .comment-templaate p.created {
            color: #9e9e9e;
            font-size: 0.9em;
            text-align: right; }
    .app .display-notes .note-template .comments-display .add-comment form {
      display: block;
      margin: 0px;
      background-color: white;
      padding: 5px;
      border: 1px solid #d6e5ff; }
      .app .display-notes .note-template .comments-display .add-comment form h5 {
        margin-top: 10px;
        font-size: 1.1em; }
      .app .display-notes .note-template .comments-display .add-comment form .form-group {
        margin-bottom: 5px; }
        .app .display-notes .note-template .comments-display .add-comment form .form-group label {
          font-size: 0.9em;
          line-height: 0.9em; }

.app .validation-message {
  color: red;
  font-size: 0.8em; }
